// CONCOURSE
.credentials.yml

// FIND-LATEX-VERSION
find-latex-version/test.aux
find-latex-version/test.dvi
find-latex-version/test.log
find-latex-version/test.svg

// Ignore .vagrant
**/.vagrant
**/.log

**/ubuntu-1604-virtualbox-vm/*.log

// Ignore Packer
**/packer_cache
**/*.box
**/*.iso
**/*.iso.lock
**/*.vdi
