// CONCOURSE
.credentials.yml

// GO
coverage.out

// macOS
.DS_Store

// FIND-LATEX-VERSION
find-latex-versions/test.aux
find-latex-versions/test.dvi
find-latex-versions/test.log
find-latex-versions/test.svg

// Ignore .vagrant
**/.vagrant
**/.log

**/ubuntu-1604-virtualbox-vm/*.log

// Ignore Packer
**/packer_cache
**/*.box
**/*.iso
**/*.iso.lock
**/*.vdi
